<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>
<body>
   
  
    
  <div class="container">
        
    
        
        
  
        
   
      
        
  <div class="box">
                  <a href="https://gallery1.charleskdesigns.com/image/001.jpg" >
                  <img src="https://gallery1.charleskdesigns.com/image/001.jpg" alt="image"></a>
              <div class="caption">Lorem ipsum </div>
    </div> 
        
  <div class="box">
                  <a href="https://gallery1.charleskdesigns.com/image/002.jpg" >
                  <img src="https://gallery1.charleskdesigns.com/image/002.jpg" alt="image"></a>
              <div class="caption">Lorem ipsum </div>
    </div> 
        
  

  
  <div class="box">
                  <a href="https://gallery1.charleskdesigns.com/image/032.jpg" >
                  <img src="https://gallery1.charleskdesigns.com/image/032.jpg" alt="image"></a>
              <div class="caption">Lorem ipsum </div>
    </div>
  
      
      
      
      
</body>

</html>