<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <div class="containerbox">
        <div class="contentbox">
          <!--pinterest logo-->
          <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" />
          <p class="headerbox">Login </p>
      <% if(error.length > 0) { %>  <!-- since,error is array, so if no error is there in flash, dont show bt if there is something in error array , show it in page -->
        <p class="error"><%= error %></p>
     <% } %>  
  <form action="/login" method="post">
          <!-- <input type="email" name="email" placeholder="Email" class="detail" /><br />  ==> initially, i write email,password inputbox only , then i was unable to do login properly, it always get into failureRedirect:'/', bcoz in login, passport auth ask for username,password -->
          <input type="text" name="username" placeholder="username" class="detail">  
          <input type="password" name="password" placeholder="Password" class="detail" />
        <a href="/forgot">Forgot password?</a>
        <input type="submit" class="btn int" value="submit" />
    </form>      
          <footer>
            <p>
              By continuing, you agree to Pinterest's
              <b>Terms of Service, Privacy policy.</b>
            </p>
            <hr />
            <p>Not on Pinterest yet?<a href="/register">Sign up</a></p>
          </footer>
        </div>
      </div>
  
</body>
</html>